@charset "utf-8";

body {
    background-image: url("plants-3343695_1920.jpg");
    background-size: cover;
    font-family: sans-serif;
    min-width: 1024px;
}

header {
    height: 90px;
    border-bottom: 5px dotted purple;
    min-width: 1024px;
    margin-top: 0;
}

footer {
    height: 100px;
    border-top: 5px dotted purple;
}

.header-logo {
    float: left;
    width: 25px;
}

li {
    float: left;
    margin: 50px 20px;
    text-align: right;
}

h1 {
    color: purple;
    font-size: 40px;
    text-align: center;
    margin: 100px 280px;
    border: 3px solid purple;
}

#selfIntroduction {
    color: whitesmoke;
    text-align: center;
    line-height: 4;
    height: 200px;
    margin-top: 100px;
    letter-spacing: 2px;
}

.mySkill {
    color: red;
    text-align: center;
    margin-bottom: 0;
    padding-top: 20px;
    margin-top: 20px;
}


.skills {
    margin-bottom: 440px;
    margin-top: 20px;
}

.skill {
    color: yellow;
    display: inline-block;
    float: left;
    width: 20%;
    text-align: center;
    font-size: 20px;
    height: 60px;
    border-top: 3px dotted #6666ff;
}

.evaluation {
    color: orangered;
    border-bottom: 3px dotted #6666ff;
}

small {
    width: 45px;
}
