@charset "utf-8";

body {
    background-image: url(https-::cdn.pixabay.com:photo:2016:07:05:08:07:rose-1498268_1280.jpg/);
    background-size: cover;
    font-family: sans-serif;
    min-width: 1024px;
}

header {
    background-color: #FFCCFF;
    height: 90px;
    border-bottom: 5px dotted purple;
    min-width: 1024px;
    margin-top: 0;
}

footer {
    background-color: pink;
    height: 100px;
    border-top: 5px dotted purple;
}

.header-logo {
    float: left;
    width: 25px;
}

li {
    float: left;
    margin: 50px 20px;
    text-align: right;
}

h1 {
    color: purple;
    font-size: 40px;
    text-align: center;
    margin: 100px 280px;
    border: 3px solid purple;
}

#selfIntroduction {
    color: #666666;
    text-align: center;
    line-height: 4;
    height: 200px;
    margin-top: 100px;
    letter-spacing: 2px;
}

.mySkill {
    position: absolute;
    top: 680px;
    left: 345px;

    color: red;
    text-align: center;
    background-color: #9966ff;
    width: 400px;
    margin-bottom: 0;
    padding: 20px;
}


.skills {
    margin-bottom: 440px;
    margin-top: 200px;
}

.skill {
    display: inline-block;
    float: left;
    width: 20%;
    text-align: center;
    font-size: 20px;
    height: 60px;
    background-color: antiquewhite;
}

.evaluation {
    color: orange;
    border-bottom: 3px dotted #6666ff;
}

small {
    width: 45px;
}
